@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}



.btn-type{
  margin: 0.3rem;
  width: 108px;
  height: 41px;
  
  
border: solid 1px rgb(54, 62, 78) ;
  border-radius: 67px;
  }

  .btn-type-active{
    margin: 0.3rem;
    width: 108px;
    height: 41px;
    color: white;
    
    background: rgb(54, 62, 78);
    border-radius: 67px;
    
}

.title-squad{
  font-size: 40px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: rgb(54, 62, 78);
}
